body{
    background-color: #111827;
    margin: 0;
    padding:0;
}

.title{
    padding: 10px;
    font-family: Inter;
font-size: 3rem;
font-weight: 800;
line-height: 38px;
letter-spacing: -0.03em;
text-align: center;
margin-top:0;

}

.input-area{
    font-family: Inter;
font-size: 58px;
font-weight: 800;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
margin: auto;
display:block;

}

.btn{
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin: 20px auto 0 auto;
display:block;

}

.header{
    background: #6943FF;
    width: 100vw;
    height: 50vh;
    margin: auto;
    display: block;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 100vw;
    text-align: center;
    background-color: #F4F4F4;

    height:50vh;
}
.length, .mass, .volume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
}
.volume-p,.mass-p,.length-p{
font-family: Inter;
font-size: 2rem;
font-weight: 400;

letter-spacing: 0em;
text-align: center;
background: white;
color: #353535;
;

}
h3{
 margin: 0;
font-family: Inter;
font-size: 2rem;
font-weight: 600;
letter-spacing: 0em;
text-align: center;
color: #5A537B;


}

.input-area{
    font-family: Inter;
font-size: 58px;
font-weight: 800;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

    background: none;
    width: 30%;
    display:block;
    margin: auto;
    border: 2px solid white;
    color: white;
}
.btn{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 5px;
background: white;
font-size: 1.5rem;
padding: 1rem;
}

@media screen and (max-width: 768px) {

    .header {
        margin-top: -10;
      width: 100%;
      height: 30vh;
      padding: 0;
    }
  
    .main {
      width: 100%;
      height: 80vh;
    }
  
    .length, .mass, .volume {
      width: 90%;
      margin: auto;
     
    }
  
    .input-area {
      width: 70%;
      font-size: 48px;
      border: 1px solid white;
    }
  
    .btn {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
  @media screen and (max-width: 336){
 
    .input-area {font-size: 1.5rem;
  }